@keyframes blink{
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.recipeList{
    /* margin-top: 20px;
    display: grid;
    grid-template-columns: 230px 230px;
    align-items: baseline; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
.recipeCard{
  width: 250px;
  margin: 20px;
  text-align: center;
}
.recipe_image{
height: 200px;
width: 200px;
object-fit: cover;
border-radius: 4px;
}
.recipe_title{
    max-width: 200px;
    text-align: center;
    margin: 10px 0px;
    color: rgb(211, 70, 18);
    animation: blink 2s infinite;
}
@media screen and (max-width:768px) {
  .recipeList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .recipeCard{
    width: calc(50%-40px);
  }
}
@media screen and (max-width:576px) {
  .recipeCard{
    width: calc(100%-40px);
  }
}