@keyframes blink{
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.recipeList{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 230px 230px;
    align-items: baseline;
  }
.recipe_image{
height: 200px;
width: 200px;
object-fit: cover;
border-radius: 4px;
}
.recipe_title{
    max-width: 200px;
    text-align: center;
    margin: 10px 0px;
    color: rgb(211, 70, 18);
    animation: blink 2s infinite;
}
/* .recipe_summary{
  max-width: 200px;
  text-align: justify;
  margin: 10px 0px;
} */